<div id="home" class="container-fluid page-view">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="title">Let me take your Bag</h1>
      <h3 class="title"> I have a flight</h3>
    </div>
  </div>
</div>


<div id="about" class="container bg-grey page-view">
  <h2 class="page-title text-center red">About</h2>
  <div class="row">
    <div class="col-sm-4">
      <img class="img-responsive center-block" src="assets/img/willi2.jpg" width="300px" alt="Bob Brady AKA DigiBrady"/>
    </div>
    <div class="col-sm-8">
      <p class="large-font">
        My name is Willi Tchatchouang
      </p>
      <p class="large-font">
        I have over 0
      </p>
      <p class="large-font">
        I’m a L.... expert,
      </p>
    </div>
  </div>
</div>
